<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slutprojekt | webutveckling 2 & webserverprogrammering</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/darkmode.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/3e0ba644be.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="full-screen">
        <div id="page_loader"></div>
    </div>

    <%- include('navbar') %>

    <main>
        <section class="jumbotron">
            <h1>Bild kanske och logo</h1>
        </section>
        
        <!-- https://app.haikei.app/ -->
    
        <section class="main-content">
            <div class="card">
                <!-- <p>Här kommer listan med produkter komma när du söker i form av "cards"</p> -->
                <a href="/about/projektplannering.md">projektplannering</a>
                <br>
                <a href="/about/dokumentation.md">dokumentation</a>
                <div id="content"></div>
            </div>
            
        </section>
        
        <footer>
            <div>
                <p id="copyright">Copyright &copy; Linus J</p>
            </div>
        </footer>
    </main>
    


    <script src="/scripts/base.js"></script>
    <script src="/scripts/scroll_button.js"></script>
    <script src="/scripts/copyright.js"></script>
    <script src="/scripts/darkmode.js"></script>

    <% if (file_data) { %>
    <!-- https://github.com/markedjs/marked  -->
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script>
        document.getElementById('content').innerHTML = marked.parse(`<%- file_data %>`);
    </script>
    <% } %>
</body>
</html>