<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>index sida</title>
</head>
<body>
    <% if (user) { %>
        <p>User logged in</p>
        <p>hello <%= user.username %></p> <img src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png" alt="Discord Image" crossorigin="anonymous">
        <a href="/u/logout">Click here to sign out</a>

    <% } else { %>
        <a href="/u/login/discord">Click here to login</a>
    <% } %>
</body>
</html>