<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slutprojekt | webutveckling 2 & webserverprogrammering</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/search.css">
    <link rel="stylesheet" href="css/darkmode.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/3e0ba644be.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="full-screen">
        <div id="page_loader"></div>
    </div>

    <button onclick="topFunction()" id="goto-top" title="Go to top">Tillbaka till toppen</button>
    <a id="dark_mode_button" href="javascript:void(0)"><i class="fa-solid fa-moon"></i></a>

    <!-- Fixed position så att menybaren kommer följa med -->
    <header id="mobile">
<!-- https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_mobile_navbar  Lägg till detta mobile navbar -->
        <div class="header-navbar">
            <div id="logo">
                <h1 style="color:red;">LOGO</h1>
            </div>
            <!-- <a href="#home" class="active">Logo</a> -->

            <div class="mobile-button">
                <a href="javascript:void(0);" class="icon" onclick="navbar_button()">
                    <i class="fa fa-bars fa-lg"></i>
                </a>
            </div>

            <div id="profile-options">
                <% if (user) { %>
                    <p>
                        <a href="/u/logout">Logga ut</a>
                    </p>
                    <p>
                        <a href="/u/profile/">Profil</a>

                    </p>
                    <a href="/u/profile">
                        <img src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png" crossorigin="anonymous" class="profile_picture" alt="Profile Pictre">
                    </a>

                <% } else { %>
                    <a href="/u/login/discord">Logga in</a>
                <% } %>
            </div>

        </div>

        <div class="mobile_navbar">
            <ul id="nav_links">
                <li>
                    <a href="/">Hem</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/contact">Kontakta</a>
                </li>
                <li>
                    <a href="/p/">product page</a>
                </li>
            </ul>
        </div>
    </header>

    <header id="desktop">
        <div class="desktop_navbar">
            <div id="logo">
                <h1 style="color:red;">LOGO</h1>
            </div>
            <div id="navbar">
                <ul class="navbar">
                    <li>
                        <a href="/">Hem</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="/contact">Kontakta</a>
                    </li>
                    <li>
                        <a href="/p/">product page</a>
                    </li>
                </ul>
            </div>
            <div id="profile-options">
                <!-- https://www.w3schools.com/howto/howto_js_popup_form.asp pop up för login -->
                <% if (user) { %>
                    <p>
                        <a href="/u/logout">Logga ut</a>
                    </p>
                    <p>
                        <a href="/u/profile/">Profil</a>

                    </p>
                    <a href="/u/profile">
                        <img src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png" crossorigin="anonymous" class="profile_picture" alt="Profile Pictre">
                    </a>

                <% } else { %>
                    <a href="/u/login/discord">Logga in</a>
                <% } %>
            </div>
        </div>
    </header>

    <section class="jumbotron">
        <h1>Bild kanske och logo</h1>
    </section>
    
    <!-- https://app.haikei.app/ -->

    <section class="main-content">

        <div class="card">
            <p>Här kommer listan med produkter komma när du söker i form av "cards"</p>
            
            <!-- <i class="fa-solid fa-moon"><input id="dark_mode_button" type="submit" value="darkmode"></i> -->
            <!-- <i class="fa-solid fa-moon-stars"><a id="dark_mode_button" href="javascript:void(0)">darkmode</a></i> -->
            

            <!-- <a id="dark_mode_button" href="javascript:void(0)">darkmode</a> -->
        </div>
        <div class="search">
            <h1>
                Något speciellt du letar efter? 
            </h1>
            <!-- <form action="" method="post"> -->
            <input id="search-input" type="text" placeholder="Sök här!">
            <!-- </form> -->
            <div class="search-result">
                <span>Results: XXX</span>
            </div>
        </div>

        <!-- När användaren söker så ska bara x antal visas och så ska man ha möjligheten att klicka på en mer knapp för att ladda in fler -->

        <div class="cards">

            <div class="card">
                <div class="card-image">
                    <a href="#">
                        <img src="https://2.bp.blogspot.com/-Alyh9NCQTgY/VL77pFNp3GI/AAAAAAAAQAU/dk538mjy93g/s1600/14.jpg" crossorigin="anonymous" alt="Picture of product">
                    </a>
                </div>
                <div>
                    <div class="card-title">
                        <h1><a href="#">Product Name</a></h1> 
                    </div>
                    <div class="average-rating">
                        <i class="rating__star far fa-star"></i>
                        <i class="rating__star far fa-star"></i>
                        <i class="rating__star far fa-star"></i>
                        <i class="rating__star far fa-star"></i>
                        <i class="rating__star far fa-star"></i>
                        <span>1/5</span>
                    </div>
                    <div class="description">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus esse perspiciatis iusto voluptatum sit et sint est quidem, ratione atque beatae quaerat! At, eos in voluptatum illum quas soluta optio.</p>
                        <a href="#">Visa mer...</a>
                    </div>
                </div>
            </div> 
    
        </div>
        

        <div class="pagnition">
            <!-- Pagnition [Show more] -->
            <a href="javascript:void(0)" onclick="pagnitionSearch()" class="pagnition_button">Visa Mer!</a>
        </div>
    </section>
    
    <section id="footer">
        <div class="footer">
            <p id="copyright">Copyright &copy; Linus J</p>
        </div>
        
    </section>
    <script src="scripts/base.js"></script>
    <script src="scripts/scroll_button.js"></script>
    <script src="scripts/copyright.js"></script>
    <script src="scripts/search.js"></script>
    <script src="scripts/darkmode.js"></script>
</body>
</html>