<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produkt sida</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slutprojekt | webutveckling 2 & webserverprogrammering</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/product.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/3e0ba644be.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="css/vendor/splide.min.css">
</head>
<body>
    <button onclick="topFunction()" id="goto-top" title="Go to top">Tillbaka till toppen</button>
    <header id="mobile">
        <!-- https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_mobile_navbar  Lägg till detta mobile navbar -->
                <div class="header-navbar">
                    <div id="logo">
                        <h1 style="color:red;">LOGO</h1>
                    </div>
                    <!-- <a href="#home" class="active">Logo</a> -->
        
                    <div class="mobile-button">
                        <a href="javascript:void(0);" class="icon" onclick="navbar_button()">
                            <i class="fa fa-bars fa-lg"></i>
                        </a>
                    </div>
        
                    <div id="profile-options">
                        <div>
                            <p>|<a href="/u/login/">login</a> | <a href="/u/signout">Logout</a>|</p>
                        </div>
                        <div>
                            <img src="https://media1.tenor.com/images/8007930423bc8dcdcd61da470a182286/tenor.gif" class="profile_picture" alt="pfp">
                        </div>
                    </div>
        
                </div>
        
                <div class="mobile_navbar">
                    <ul id="nav_links">
                        <li>
                            <a href="index.html">Hem</a>
                        </li>
                        <li>
                            <a href="about.html">Om det här</a>
                        </li>
                        <li>
                            <a href="contact.html">Kontakta</a>
                        </li>
                        <li>
                            <a href="product.html">product page</a>
                        </li>
                        <li>
                            <a href="review.html">review page</a>
                        </li>
                    </ul>
                </div>
            </header>
        
            <header id="desktop">
                <div class="desktop_navbar">
                    <div id="logo">
                        <h1 style="color:red;">LOGO</h1>
                    </div>
                    <div id="navbar">
                        <ul class="navbar">
                            <li>
                                <a href="index.html">Hem</a>
                            </li>
                            <li>
                                <a href="about.html">Om det här</a>
                            </li>
                            <li>
                                <a href="contact.html">Kontakta</a>
                            </li>
                            <li>
                                <a href="product.html">product page</a>
                            </li>
                            <li>
                                <a href="review.html">review page</a>
                            </li>
                        </ul>
                    </div>
                    <div id="profile-options">
                        <!-- https://www.w3schools.com/howto/howto_js_popup_form.asp pop up för login -->
                        <p>|<a href="/u/login/">login</a> | <a href="/u/signout">Logout</a>|</p>
                        <img src="https://media1.tenor.com/images/8007930423bc8dcdcd61da470a182286/tenor.gif" class="profile_picture" alt="pfp">
                    </div>
                </div>
            </header>

    <section class="jumbotron">
        <h1>Bild kanske och logo</h1>
    </section>
    
    <!-- https://app.haikei.app/ -->

    <section class="content">
        <div class="">
            <a href="#">Tillbaka</a>
        </div>

        <div class="product-card">
        
            <div>
                <div id="product-carousel" class="splide">
                    <div class="splide__track">
                        <ul class="splide__list">
                            <li class="splide__slide">
                                <img class="product-image" src="https://i0.wp.com/www.webbyfeed.com/wp-content/uploads/2020/08/shrek.jpg">
                            </li>
                            <li class="splide__slide">
                                <img class="product-image" src="https://2.bp.blogspot.com/-Alyh9NCQTgY/VL77pFNp3GI/AAAAAAAAQAU/dk538mjy93g/s1600/14.jpg">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="product-info">
                <div class="card-stars">
                    <div class="average-rating">
                        <i class="rating__star far fa-star"></i>
                        <i class="rating__star far fa-star"></i>
                        <i class="rating__star far fa-star"></i>
                        <i class="rating__star far fa-star"></i>
                        <i class="rating__star far fa-star"></i>
                        <span>1/5</span>
                    </div>
                    
                </div>
                <div class="description">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus esse perspiciatis iusto voluptatum sit et sint est quidem, ratione atque beatae quaerat! At, eos in voluptatum illum quas soluta optio.</p>
                </div>
            </div>

        </div>

        <div class="">
            <a class="popup-button">Skriv en review!</a>
        </div>  

        <div class="popup-background">
            <span class="helper"></span>
            <div class="popup-window">
                <div class="close-popup-button">&times;</div>
                <p>Skriv en review</p>
                <div id="review-form">
                    <!-- 
                        Om det användaren skickar är identiskt till något som redan är publicerat så ska det flaggas
                        Om användaren använder massa svordommar i sin text så bör den också flaggas automatiskt
            
                        Om någonting flaggas så ska den inte publiceras utan den ska bli manuellt accepterad av en admin
                        Detta fungerar inte för på en skalad nivå, tex om sidan skulle få 200.000 dagliga användare
                      -->
                      
                    <input type="text" id="title" placeholder="Title" class="review-input">
                    <input type="text" id="name" placeholder="Name" class="review-input">
                    <textarea cols="60" rows="10" id="content" placeholder="Content" class="review-input"></textarea>
                    <!-- 
                        https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_star_rating 
                        https://www.w3schools.com/howto/howto_css_star_rating.asp
                    -->
            
                    <div class="rating">
                        <i class="rating__star rating-changable far fa-star"></i>
                        <i class="rating__star rating-changable far fa-star"></i>
                        <i class="rating__star rating-changable far fa-star"></i>
                        <i class="rating__star rating-changable far fa-star"></i>
                        <i class="rating__star rating-changable far fa-star"></i>
                    </div>
            
                    <input type="submit" id="send_review_button" value="Submit">
                    
                </div>
                <p>Förhandsvisning</p>
            <!-- Formatering ? -->
                <div class="card">
                    <h1 id="preview-title"></h1> 
                    <div class="rating">
                        <i class="preview__rating__star far fa-star"></i>
                        <i class="preview__rating__star far fa-star"></i>
                        <i class="preview__rating__star far fa-star"></i>
                        <i class="preview__rating__star far fa-star"></i>
                        <i class="preview__rating__star far fa-star"></i>
                    </div>
                    <span id="preview-name"></span>
                    <span id="preview-date"></span>
                    <p id="preview-content"></p>
                </div> 
            </div>

        </div>

        <div class="review-cards">
            <div class="card">
                <h1 id="review-title">Review Title</h1> 
                <div class="rating">
                    <i class="rating__star far fa-star"></i>
                    <i class="rating__star far fa-star"></i>
                    <i class="rating__star far fa-star"></i>
                    <i class="rating__star far fa-star"></i>
                    <i class="rating__star far fa-star"></i>
                </div>
                <span id="review-name">Name</span>
                <span id="review-date">Date</span>
                <p id="review-content">Här kommer varje review (15 senaste och sedan kan man klicka visa mer) vara i from av ett card. Dessa reviews kommer laddas in automatiskt on page load och skickas från databsen</p>                
            </div> 
    
        </div>        
        

        <div class="pagnition">
            <!-- Pagnition [Show more] -->
            <a href="javascript:void(0)" onclick="more_reviews(10)" class="pagnition_button">Visa Mer!</a>
        </div>
    </section>
    
    <section id="footer">
        <div class="footer">
            <p id="copyright">Copyright &copy; Linus J</p>
        </div>
    </section>
    <!-- Fixa detta -->
    <script src="scripts/base.js"></script>
    <script src="scripts/product.js"></script>
    <script src="scripts/scroll_button.js"></script>
    <script src="scripts/copyright.js"></script> 
    
    <!-- Outsource -->

    <!-- Script imported from https://splidejs.com/ (MIT LICENSE) -->
    <script src="scripts/vendor/splide.min.js"></script>
    <script>
        new Splide( '#product-carousel', {
            type         : 'loop',
            autoplay     : 'pause',
            arrows       : 'slider',
            perPage      : 1,
            pauseOnHover : true,
            resetProgress: false,
        }).mount();
    </script>
</body>
</html>
</body>
</html>