<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/p/post_review" method="POST">
        <input type="text" name="produt-id" placeholder="Product id">
        <input type="text" name="title" placeholder="title">
        <input type="text" name="rating" placeholder="rating">
        <input type="text" name="content" placeholder="content">
        <input type="submit" value="Skicka review">
    </form>
</body>
</html>