/* darkmode pallete: https://www.color-hex.com/color-palette/85078 */
p.dark-mode, 
li.dark-mode,
span.dark-mode  {
    color: whitesmoke;
}

h1.dark-mode, 
h2.dark-mode,
h3.dark-mode, 
h4.dark-mode,
h5.dark-mode, 
h6.dark-mode {
    color: rgb(255, 51, 0);
}

body.dark-mode {
    background-color: #12151c;
}

.card.dark-mode {
    background-color: #1b222c;
}

footer.dark-mode {
    background-color: #1b222c;
}

header.dark-mode {
    background-color: #1b222c;
}

.navbar > li > a:hover.dark-mode {
    border-bottom: 2px solid rgba(255, 20, 0, 0.75);
}

.pagnition_button.dark-mode{
    color: whitesmoke;
    border-color: whitesmoke;
}

.popup-window.dark-mode {
    background-color: #12151c;

    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
