.popup-background{
    background:rgba(0,0,0,.4);
    /* cursor: pointer; */
    display: none;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 100;
}

.popup-background .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}

.popup-background > .popup-window {
    background-color: #ebebeb;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}

input {
    max-width: 75%;
    height: auto;
}

.review-input {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 8px;
    border: 1px solid #aaa;
    /* border: none; */

    outline: none;


    box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.6);
}



.popup-window textarea {
    max-width: 90%;
    resize: none;
}

.close-popup-button {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}

.close-popup-button:hover {
    background-color: #ccc;
}

.popup-button {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}


.review-card {
    padding: 10px;
    
    border-radius: 15px;

    margin-top: 25px;
    margin-bottom: 25px;
    min-width: 25vw;

    /* Shadow för att göra så att search boxen ser ut att stå ut */
    box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.6);
}


@media only screen and (max-width: 950px) {
    .product-card {
        display: flex;
        flex-direction: column;
    
        height: auto;
        max-width: 50vw;
    
        margin-top: 50px;
    
        border-radius: 15px;
    
        /* Shadow för att göra så att search boxen ser ut att stå ut */
        box-shadow: 0px 0px 40px -10px rgba(0,0,0,0.6);
        -webkit-box-shadow: 0px 0px 40px -10px rgba(0,0,0,0.6);
        -moz-box-shadow: 0px 0px 40px -10px rgba(0,0,0,0.6);
    
    }
    
    .product-card > * {
        width: 100%;
       
    }
    
    .product-card > .product-info {
        /* width: 50%; */
        padding: 10px;
    }
    
    .product-image {
        max-width: 100%;
        width: 100%;
        height: auto;
        border-radius: 15px 15px 0px 0px;
        /* border-radius: 15px; */
    
    }
    
    .review-card {
        display: flex;
        height: auto;
        flex-direction: column;
        max-width: 95vw;
    }

}

@media only screen and (min-width: 950px) {
    .product-card {
        display: flex;
        flex-direction: row;
    
        height: auto;
        max-width: 50vw;
    
        margin-top: 50px;
    
        border-radius: 15px;
    
        /* Shadow för att göra så att search boxen ser ut att stå ut */
        box-shadow: 0px 0px 40px -10px rgba(0,0,0,0.6);
        -webkit-box-shadow: 0px 0px 40px -10px rgba(0,0,0,0.6);
        -moz-box-shadow: 0px 0px 40px -10px rgba(0,0,0,0.6);
    
    }
    
    .product-card > * {
        width: 50%;
        height: auto;
       
    }
    
    .product-card > .product-info {
        width: 50%;
        padding: 10px;
    
    }
    
    .product-image {
        max-width: 100%;
        height: auto;
        border-radius: 15px 0px 0px 15px;
        /* border-radius: 15px; */
    
    }

    .review-card {
        display: flex;
        height: auto;
        flex-direction: column;
        max-width: 35vw;
    }
    
}