.content {
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.profile-image {
    width: 200px;
    height: auto;
    border-radius: 50%;
}

#profile-content {
    display: flex; 
    margin-top: 5vw;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center;  */
}

.review-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 950px) {
    
    #profile-card {
        display: flex;
        flex-direction: column;
        height: 400px;
        /* justify-content: center; */
        /* align-items: center;   */
    }
    
    #profile-card-content {
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
    }

    #profile-content {
        flex-direction: row;
        justify-content: space-evenly;
    }
    
}

@media only screen and (max-width: 950px) {
    #profile-content {
        flex-direction: column-reverse;
    }
}