
.search input {
    height: 55px;
    width: 100%;

    margin: 0px 10px 0px 10px;

    font-size: 40px;
    padding: 10px;

    border-radius: 20px;
    border: none;
    
    /* Shadow för att göra så att search boxen ser ut att stå ut */
    box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.6);
}

.search input:focus {
    outline: none;

    /* Shadow för att göra så att search boxen ser ut att stå ut */
    box-shadow: 0px 0px 40px -10px rgba(255, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 40px -10px rgba(255, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 40px -10px rgba(255, 0, 0, 0.5);

    transition: 0.2s ease-in;
}

.card {
    height: auto;
    max-width: 35vw;

    margin-top: 50px;
    margin-bottom: 25px;
    padding: 10px;

    border-radius: 15px;

    /* Shadow för att göra så att search boxen ser ut att stå ut */
    box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.6);
}

.card-image > img {
    max-width: 100%;
    height: auto;
}



.search-result {
    margin-top: 10px;
}